<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | AtomTask</title>
</head>
<body>
    <h1>Home</h1>

    <form method="POST" action="/logout">
        <button type="submit">
            Logout
        </button>
    </form>

    <hr>

    <form method="GET" action="/task/all">
        <button type="submit">
            View all tasks
        </button>
    </form>

    <div>
        <p data-th-text="${schedule}"></p>
    </div>

</body>
</html>