<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | AtomTask</title>
</head>
<body>
    <h1>Home</h1>

    <form method="POST" action="/logout">
        <button type="submit">
            Logout
        </button>
    </form>

    <hr>

    <form method="GET" action="/task/new">
        <button type="submit">
            New Task
        </button>
    </form>


    <table data-th-each="task : ${tasks}" data-th-object="${task}">
        <tr>
            <td>
                <h3 data-th-text="*{content}"></h3>
            </td>
            <td>
                <!-- passthrough the form-->
                <form method="GET" action="/task/edit">
                    <input type="hidden" name="taskId" data-th-value="*{id}">
                    <button type="submit">
                        Edit
                    </button>
                </form>
            </td>
            <td>
                <form method="POST" action="/task/delete">
                    <input type="hidden" name="taskId" data-th-value="*{id}">
                    <button type="submit">
                        Done
                    </button>
                </form>
            </td>
        </tr>
        <tr data-th-each="subtask : *{subtasks}">
            <td>
                <p data-th-text="${subtask}"></p>
            </td>
            
        </tr>
    </table>
</body>
</html>