<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login | Atom</title>
        <link rel='stylesheet' href="/css/reset.css">
        <link rel='stylesheet' href="/css/fonts.css">
        <link rel='stylesheet' href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    </head>
<body class="landing-container">

    <div class="image-container">
        <img 
            class="landing-image" 
            src="https://images.unsplash.com/photo-1417325384643-aac51acc9e5d?q=75&fm=jpg&w=1080&fit=max">
    </div>
        
    <div class="auth-container">

        <img 
            class="login-logo"
            src="/logos/black_transparent.png"
            alt="Atom Logo">

        <form 
            method="GET" 
            action="/oauth2/authorization/google"
            class="auth-form-container">

            <button class="google-auth-form-button">
                <div class="google-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                        <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                        <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                        <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                        <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                        <path fill="none" d="M0 0h48v48H0z"></path>
                    </svg>
                </div>

                <span class="google-button-content ibm-plex-sans-medium">Continue with Google</span>
            </button>
        </form>

        <div class="auth-form-divider ibm-plex-sans-light">OR</div>

        <form 
            method="POST" 
            action="/login"
            class="auth-form-container">

            <input 
                type="hidden" 
                data-th-name="${_csrf.parameterName}" 
                data-th-value="${_csrf.token}">

            <input 
                type="text" 
                name="username" 
                class="auth-form-input ibm-plex-sans-regular" 
                placeholder="Username or Email">

            <input 
                type="password" 
                name="password"
                class="auth-form-input ibm-plex-sans-regular"
                placeholder="Password">

            <button 
                type="submit" 
                class="auth-form-button ibm-plex-sans-medium">
                Log In
            </button>

            <div 
                data-th-if="${param.error}"
                class="error-message ibm-plex-sans-regular">
                <p>
                    Invalid credentials. Please try again.
                </p>
            </div>    

            <p class="ibm-plex-sans-regular">
                No account yet? 
                <a class="auth-link"
                    href="/signup">
                    Sign up
                </a>
            </p>
        </form>
    </div>
</body>
</html>