<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Atom</title>
    <link rel='stylesheet' href="/css/reset.css">
    <link rel='stylesheet' href="/css/fonts.css">
    <link rel='stylesheet' href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body class="landing-container">

    <div class="image-container">
        <img class="landing-image" src="https://images.unsplash.com/photo-1417325384643-aac51acc9e5d?q=75&fm=jpg&w=1080&fit=max">
    </div>
        

    <div class="auth-container">

        <img src="/logos/black_transparent.png" alt="Atom Logo" class="login-logo">

        <form class="auth-form-container" method="POST" action="/auth" data-th-object="${loginForm}">

            <input type="text" placeholder="Username" data-th-field="*{username}" class="auth-form-input ibm-plex-sans-regular">

            <span data-th-if="${#fields.hasErrors('username')}"
                data-th-errors="*{username}"
            ></span>

            <input type="password" placeholder="Password" data-th-field="*{password}" class="auth-form-input ibm-plex-sans-regular">

            <span data-th-if="${#fields.hasErrors('password')}"
                data-th-errors="*{password}"
            ></span>
  

            <button type="submit" class="auth-form-button ibm-plex-sans-medium">Log In</button>

    
            <div data-th-if="${#fields.hasErrors('global')}" data-th-each="err: ${#fields.errors('global')}">
                <p data-th-text="${err}"></p>
            </div>

            <p class="ibm-plex-sans-regular">No account yet? <a class="auth-link" href="/signup">Sign up</a></p>
        </form>

    </div>
    
</body>

</html>`