<nav data-th-fragment="navbar" class="navbar">
    <a href="/">
        <img class="nav-logo" 
        src="/logos/white_transparent.png" 
        alt="Atom Logo">
    </a>

    <form 
        method="POST" 
        action="/logout">
        <input 
            type="hidden" 
            data-th-name="${_csrf.parameterName}" 
            data-th-value="${_csrf.token}">
        <button 
            type="submit"
            class="logout-button ibm-plex-sans-medium">
            Log out
        </button>
    </form>
</nav>
