<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/css/reset.css">
    <link rel='stylesheet' href="/css/fonts.css">
    <link rel='stylesheet' href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css">
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Atom" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <title>Edit Task | Atom</title>
</head>
<body class="main-container">
    
    <div data-th-replace="~{navbar :: navbar}"></div>

    <div class="cards-container">

        <form 
            method="POST" 
            data-th-object="${task}">

            <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
            <input type="hidden" data-th-value="*{id}" data-th-field="*{id}">
            <input type="hidden" data-th-value="*{createdTime}" data-th-field="*{createdTime}">
            <input type="hidden" data-th-value="*{imageUrl}" data-th-field="*{imageUrl}">

            <div class="button-row">
                <button 
                    type="submit" 
                    formaction="/task/edit"
                    class="long-button ibm-plex-sans-medium" >
                    
                    <i class="fi fi-bs-plus new-task-icon"></i> 
                    Update task
                </button>

                <div class="priority-toggle">

                    <input 
                        type="radio" 
                        class="priority-radio" 
                        id="priority-off" 
                        name="priority" 
                        value="false" 
                        data-th-field="*{priority}">

                    <label for="priority-off">●</label>

                    <input 
                        type="radio" 
                        class="priority-radio"
                        id="priority-on" 
                        name="priority" 
                        value="true"
                        data-th-field="*{priority}">

                    <label for="priority-on">★</label>
                </div>
            </div>
            
            <div class="card">
                <textarea 
                    class="task-content-input libre-baskerville-regular"
                    data-th-value="*{content}" 
                    data-th-field="*{content}"
                    placeholder="Your task here..." 
                    autocomplete="off" 
                    rows="3">
                </textarea>

                <span 
                    data-th-if="*{#fields.hasErrors('content')}"
                    data-th-errors="*{content}"
                    class="error-messsage task-empty ibm-plex-sans-light">
                </span>
            </div>

            <button 
                type="submit" 
                formaction="/task/regenerate"
                class="long-button generate-button ibm-plex-sans-medium">
                Suggest subtasks
            </button>

            <div class="card">
                <div 
                    class="subtasks-container ibm-plex-sans-light"
                    data-th-if="*{not #lists.isEmpty(subtasks)}" 
                    data-th-each="subtask, subtaskStat : *{subtasks}">

                    <input 
                        type="text"
                        class="subtask-content-input"
                        data-th-field="*{subtasks[__${subtaskStat.index}__]}" 
                        data-th-value="${subtask}"
                        autocomplete="off" >
                </div>
            </div>
        </form>
    </div>
</body>
</html>