<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/css/reset.css">
    <link rel='stylesheet' href="/css/fonts.css">
    <link rel='stylesheet' href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css">
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Atom" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <title>All Tasks | Atom</title>
</head>
<body class="main-container">

    <div data-th-replace="~{navbar :: navbar}"></div>

    <div class="cards-container">

        <div data-th-if="${numberOfTasks >= 8 && numberOfTasks < 10}"
            class="card limit-card">

            <p class="ibm-plex-sans-bold">
                You're approaching the limit
            </p>
            <p class="ibm-plex-sans-light">
                Maximum 10 tasks. Complete your tasks!
            </p>
        </div>

        <div data-th-if="${numberOfTasks >= 10}"
            class="card limit-card max-limit-card">
            
            <p class="ibm-plex-sans-bold">
                You have reached the limit 
            </p>
            <p class="ibm-plex-sans-light">
                Complete existing tasks to add new ones.
            </p>
        </div>

        <div class="card">

            <div class="home-greetings-container">
                <div class="stat">
                    <p 
                        data-th-text="${numberOfTasks}"
                        class="stat-number libre-baskerville-regular">
                    </p>
                    <p class="stat-label ibm-plex-sans-light">Current Tasks</p>
                </div>

                <div class="quote libre-baskerville-regular-italic">
                    <p data-th-text="'&quot;' + ${quote} + '&quot;'"></p>
                </div>
            </div>
        </div>
       
        <form 
            data-th-if="${numberOfTasks lt 10}"
            method="GET" 
            action="/task/new">

            <button 
                type="submit"
                class="long-button task-all-button ibm-plex-sans-medium">
                <i class="fi fi-bs-plus new-task-icon"></i> 
                New task
            </button>
        </form>

        <div 
            data-th-each="task : ${tasks}" 
            data-th-object="${task}" 
            data-th-class="*{priority ? 'card priority-task' : 'card'}">

            <p class="card-title libre-baskerville-regular" 
                data-th-text="*{content}"></p>

            <div class="subtasks-container ibm-plex-sans-light">
                <p class="card-body" 
                    data-th-each="subtask : *{subtasks}" 
                    data-th-text="${subtask}">
                </p>
            </div>

            <img class="task-image" 
                data-th-src="*{imageUrl}">

            <div class="task-action-buttons">

                <form 
                    method="GET"
                    data-th-action="@{/task/edit/{taskId}(taskId=${task.id})}"
                    class="edit-form">

                    <button 
                        type="submit"
                        data-th-class="*{priority ? 'circle-button priority-button' : 'circle-button'}">
                        <i class="fi fi-bs-pencil"></i>
                    </button>
                </form>

                <form 
                    method="POST" 
                    action="/task/complete" 
                    class="delete-form">
                    <input 
                        type="hidden" 
                        data-th-name="${_csrf.parameterName}" 
                        data-th-value="${_csrf.token}">
                    <input 
                        type="hidden" 
                        name="taskId" 
                        data-th-value="*{id}">
                    <button 
                        type="submit" 
                        data-th-class="*{priority ? 'circle-button priority-button' : 'circle-button'}">
                        <i class="fi fi-bs-check"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>