<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task | Atom</title>
    <link rel='stylesheet' href="/css/reset.css">
    <link rel='stylesheet' href="/css/fonts.css">
    <link rel='stylesheet' href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css">
</head>
<body>
    
    <nav class="navbar">
        <img src="/logos/white_transparent.png" alt="Atom Logo" class="nav-logo">

        <form method="POST" action="/logout">
            <button type="submit" class="logout-button ibm-plex-sans-medium">
                Log out
            </button>
        </form>
    </nav>

    <div class="tasks-container">
        <form method="POST" data-th-object="${task}">

            <input type="hidden" data-th-value="*{id}" data-th-field="*{id}">
            <input type="hidden" data-th-value="*{imageUrl}" data-th-field="*{imageUrl}">

            <button class="new-task-button ibm-plex-sans-medium" type="submit" formaction="/task/update">
                <i class="fi fi-bs-plus new-task-icon"></i> Update task
            </button>
            
            <div class="task-card">
                <textarea class="task-content-input libre-baskerville-regular" 
                    type="text" placeholder="Your task here..." 
                    autocomplete="off" rows="3"
                    data-th-value="*{content}" data-th-field="*{content}">
                </textarea>
                <span data-th-if="*{#fields.hasErrors('content')}"
                data-th-errors="*{content}"
                ></span>
            </div>

                <button class="new-task-button ibm-plex-sans-medium" 
                    type="submit" formaction="/task/edit/gensubtasks">
                    Generate sub-tasks
                </button>

            <div class="task-card">
                <div data-th-if="*{not #lists.isEmpty(subtasks)}" 
                    data-th-each="subtask, subtaskStat : *{subtasks}" 
                    class="subtasks-container ibm-plex-sans-light">
                    <input class="subtask-content-input" 
                        type="text" autocomplete="off" 
                        data-th-field="*{subtasks[__${subtaskStat.index}__]}" 
                        data-th-value="${subtask}">
                </div>
            </div>
        </form>
    </div>
</body>
</html>